*.lo
*.o
.DS_Store
ChangeLog
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac~
configure~
contrib/Kobil_mIDentity_switch/.deps/
contrib/Kobil_mIDentity_switch/Kobil_mIDentity_switch
contrib/Kobil_mIDentity_switch/Makefile
contrib/Kobil_mIDentity_switch/Makefile.in
contrib/Kobil_mIDentity_switch/tags
contrib/Makefile
contrib/Makefile.in
contrib/RSA_SecurID/.deps/
contrib/RSA_SecurID/Makefile
contrib/RSA_SecurID/Makefile.in
contrib/RSA_SecurID/RSA_SecurID_getpasswd
contrib/RSA_SecurID/tags
depcomp
examples/.deps/
examples/Makefile
examples/Makefile.in
examples/scardcontrol
examples/tags
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
readers/Makefile
readers/Makefile.in
src/.deps/
src/.libs/
src/Info.plist
src/Makefile
src/Makefile.in
src/libccid.la
src/libccidtwin.la
src/openct/.deps/
src/openct/.dirstamp
src/openct/.libs/
src/parse
src/tags
src/tokenparser.c
src/towitoko/.deps/
src/towitoko/.dirstamp
src/towitoko/.libs/
stamp-h1
tags
