ChangeLog
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/Kobil_mIDentity_switch/.deps/
contrib/Kobil_mIDentity_switch/Kobil_mIDentity_switch
contrib/Kobil_mIDentity_switch/Kobil_mIDentity_switch-Kobil_mIDentity_switch.o
contrib/Kobil_mIDentity_switch/Makefile
contrib/Kobil_mIDentity_switch/Makefile.in
contrib/Kobil_mIDentity_switch/tags
contrib/Makefile
contrib/Makefile.in
contrib/RSA_SecurID/.deps/
contrib/RSA_SecurID/Makefile
contrib/RSA_SecurID/Makefile.in
contrib/RSA_SecurID/RSA_SecurID_getpasswd
contrib/RSA_SecurID/RSA_SecurID_getpasswd-RSA_SecurID_getpasswd.o
contrib/RSA_SecurID/tags
depcomp
examples/.deps/
examples/Makefile
examples/Makefile.in
examples/scardcontrol
examples/scardcontrol-PCSCv2part10.o
examples/scardcontrol-scardcontrol.o
examples/tags
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
readers/Makefile
readers/Makefile.in
src/.deps/
src/.libs/
src/Info.plist
src/Makefile
src/Makefile.in
src/libccid.la
src/libccid_la-atr.lo
src/libccid_la-buffer.lo
src/libccid_la-ccid.lo
src/libccid_la-ccid_usb.lo
src/libccid_la-checksum.lo
src/libccid_la-commands.lo
src/libccid_la-debug.lo
src/libccid_la-ifdhandler.lo
src/libccid_la-pps.lo
src/libccid_la-proto-t1.lo
src/libccid_la-simclist.lo
src/libccid_la-strlcpy.lo
src/libccid_la-tokenparser.lo
src/libccid_la-utils.lo
src/libccidtwin.la
src/libccidtwin_la-atr.lo
src/libccidtwin_la-buffer.lo
src/libccidtwin_la-ccid.lo
src/libccidtwin_la-ccid_serial.lo
src/libccidtwin_la-checksum.lo
src/libccidtwin_la-commands.lo
src/libccidtwin_la-ifdhandler.lo
src/libccidtwin_la-pps.lo
src/libccidtwin_la-proto-t1.lo
src/libccidtwin_la-simclist.lo
src/libccidtwin_la-strlcpy.lo
src/libccidtwin_la-tokenparser.lo
src/libccidtwin_la-utils.lo
src/openct/.deps/
src/openct/.dirstamp
src/openct/.libs/
src/openct/libccid_la-buffer.lo
src/openct/libccid_la-checksum.lo
src/openct/libccid_la-proto-t1.lo
src/openct/libccidtwin_la-buffer.lo
src/openct/libccidtwin_la-checksum.lo
src/openct/libccidtwin_la-proto-t1.lo
src/parse
src/parse-ccid_usb.o
src/parse-debug.o
src/parse-parse.o
src/parse-simclist.o
src/parse-strlcpy.o
src/parse-tokenparser.o
src/tags
src/tokenparser.c
src/towitoko/.deps/
src/towitoko/.dirstamp
src/towitoko/.libs/
src/towitoko/libccid_la-atr.lo
src/towitoko/libccid_la-pps.lo
src/towitoko/libccidtwin_la-atr.lo
src/towitoko/libccidtwin_la-pps.lo
stamp-h1
tags
