<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>ifdCapabilities</key>
	<string>0x00000000</string>
	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>

	<key>CFBundleExecutable</key>
	<string>libccid.so.VERSION</string>

	<key>ifdManufacturerString</key>
	<string>Ludovic Rousseau (ludovic.rousseau@free.fr)</string>

	<key>ifdProductString</key>
	<string>Generic CCID reader vVERSION</string>

	<key>ifdVendorID</key>
	<string>0x08E6</string> <!-- 1, Gemplus -->
	<string>0x08E6</string>	<!-- 2 -->
	<string>0x08E6</string> <!-- 3 -->

	<string>0x04E6</string> <!-- 4, SCM Microsystems -->
	<string>0x04E6</string> <!-- 5 -->

	<string>0x076B</string> <!-- 6, OmniKey -->

	<string>0x0783</string>	<!-- 7, C3PO -->

	<key>ifdProductID</key>
	<string>0x3437</string> <!-- 1 -->
	<string>0x3438</string> <!-- 2 -->
	<string>0x4433</string> <!-- 3 -->

	<string>0x5115</string> <!-- 4 -->
	<string>0xE001</string> <!-- 5 -->

	<string>0x3021</string> <!-- 6 -->

	<string>0x0003</string> <!-- 7 -->

	<key>ifdFriendlyName</key>
	<string>GemPC Twin</string>   <!-- 1 -->
	<string>GemPC Key</string>    <!-- 2 -->
	<string>GemPC433 SL</string>  <!-- 3 -->

	<string>SCR 335</string>      <!-- 4 -->
	<string>SCR 331</string>      <!-- 5 -->

	<string>CardMan 3121</string> <!-- 6 -->

	<string>LTC31</string>        <!-- 7 -->

	<key>Copyright</key>
	<string>This driver is protected by terms of the GNU General Public License version 2, or (at your option) any later version.</string>

</dict>
</plist>
