# udev rules for pcscd and CCID readers

# Gemplus PCMCIA Card
#SUBSYSTEMS=="pcmcia", DRIVER=="serial_cs", ACTION=="add", SYSFS{prod_id1}=="Gemplus", SYSFS{prod_id2}=="SerialPort", SYSFS{prod_id3}=="GemPC Card", RUN+="/usr/sbin/pcscd --hotplug"

# generic CCID device
BUS=="usb", SYSFS{bInterfaceClass}=="0b", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"

# non CCID generic (InterfaceClass: 0xFF)
# CherrySmartTerminalST2XXX.txt
BUS=="usb", SYSFS{idVendor}=="046a", SYSFS{idProduct}=="003e", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# DellSK-3106.txt
BUS=="usb", SYSFS{idVendor}=="413c", SYSFS{idProduct}=="2100", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# MySmartPad.txt
BUS=="usb", SYSFS{idVendor}=="09be", SYSFS{idProduct}=="0002", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# SCR331-DI-NTTCom.txt
BUS=="usb", SYSFS{idVendor}=="04e6", SYSFS{idProduct}=="5120", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# SCR331-DI.txt
BUS=="usb", SYSFS{idVendor}=="04e6", SYSFS{idProduct}=="5111", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# SDI010.txt
BUS=="usb", SYSFS{idVendor}=="04e6", SYSFS{idProduct}=="5121", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# SPR532.txt
BUS=="usb", SYSFS{idVendor}=="04e6", SYSFS{idProduct}=="e003", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# Verisign_secure_storage_token.txt
BUS=="usb", SYSFS{idVendor}=="08e6", SYSFS{idProduct}=="1359", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
# Verisign_secure_token.txt
BUS=="usb", SYSFS{idVendor}=="08e6", SYSFS{idProduct}=="ace0", ACTION=="add", RUN+="/usr/sbin/pcscd --hotplug"
